[submodule "expected"]
	path = expected
	url = https://github.com/ned14/Boost.Expected.git
[submodule "local-bind-cpp-library"]
	path = local-bind-cpp-library
	url = https://github.com/ned14/local-bind-cpp-library.git
