[submodule "doc/html"]
	path = doc/html
	url = https://github.com/ned14/boost.outcome.git
	branch = gh-pages
[submodule "include/boost/outcome/boost-lite"]
	path = include/boost/outcome/boost-lite
	url = https://github.com/ned14/boost-lite.git
	branch = master
