[submodule "doc/html"]
	path = doc/html
	url = https://github.com/ned14/boost.outcome.git
	branch = gh-pages
	fetchRecurseSubmodules = true
	ignore = none
	shallow = true
[submodule "include/boost/outcome/boost-lite"]
	path = include/boost/outcome/boost-lite
	url = https://github.com/ned14/boost-lite.git
	branch = master
	fetchRecurseSubmodules = true
	ignore = untracked
	shallow = true
