body {
  text-align: justify;
}
h2 {
  text-transform: none;
}
code, pre {
  background: none;
  border: none;
  text-align: left;
}
code + span.copy-to-clipboard {
  display: none;
}
/* Fix Firefox */
#body a.highlight {
  vertical-align: middle;
}

pre .copy-to-clipboard {
  background-color: transparent;
}
pre .copy-to-clipboard:hover {
  background-color: #fff7dd;
}

.highlight pre {
  #border: 2px dashed;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000000;
}
.highlight code + span.copy-to-clipboard {
  display: inline-block;
}


/* Background */ .chroma { background-color: #ffffff }
/* Error */ .chroma .ss4 {  }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc; display: block; width: 100% }
/* LineNumbers */ .chroma .ln { ; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .s3e8 { color: #0000ff }
/* KeywordType */ .chroma .s3ee { color: #2b91af }
/* NameClass */ .chroma .s7d4 { color: #2b91af }
/* LiteralString */ .chroma .sc1c { color: #a31515 }
/* OperatorWord */ .chroma .sfa1 { color: #0000ff }
/* Comment */ .chroma .s1770 { color: #008000 }
/* CommentPreproc */ .chroma .s17d4 { color: #0000ff }
/* GenericEmph */ .chroma .s1b5a { font-style: italic }
/* GenericHeading */ .chroma .s1b5c { font-weight: bold }
/* GenericPrompt */ .chroma .s1b5f { font-weight: bold }
/* GenericStrong */ .chroma .s1b60 { font-weight: bold }
/* GenericSubheading */ .chroma .s1b61 { font-weight: bold }
