body {
  font-size: 105% !important;
  text-align: justify;
}
h2, h3, h4, h5, h6 {
  text-align: left;
}
h2 {
  text-transform: none;
}
code, pre {
  background: none;
  border: none;
  line-height: 1.5;
  text-align: left;
}
a code {
  color: inherit;
}
/* Fix Firefox */
#body a.highlight {
  vertical-align: middle;
}
a.api-reference {
  font-family: monospace;
}
div.footnotes {
  font-size: 85%;
}
#tags {
  float: none;
  display: flex;
  /*justify-content: space-around;*/
  justify-content: center;
  flex-wrap: wrap;
}
#tags a {
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-bottom: 0.25em;
}

pre .copy-to-clipboard {
  background-color: transparent;
}
pre .copy-to-clipboard:hover {
  background-color: #fff7dd;
}

.copy-to-clipboard {
  background-image: url(../images/clippy.svg);
  background-position: 50% 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  width: 27px;
  height: 1.45rem;
  top: -1px;
  margin-bottom: 1px;
}
.highlight pre {
  #border: 2px dashed;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000000;
}
div.highlight code + span.copy-to-clipboard {
  display: inline-block;
  border: none;
  vertical-align: unset;
}

code + span.copy-to-clipboard {
  display: none;
}

div.code-snippet {
  position: relative;
}
div.code-snippet a.code-snippet-url {
  font-size: small;
  position: absolute;
  right: 3em;
  top: 0.7em;
}

nav#TableOfContents {
  width: 30em;
  float: right;
  text-align: left;
  font-size: inherit !important;
}
nav#TableOfContents > ul {
  list-style: none;
}
nav#TableOfContents > ul > li > ul {
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000000;
  background-color: white;
  padding-right: 1em;
  list-style-type: lower-roman;
}
nav#TableOfContents > ul > li > ul > li {
  line-height: normal;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
nav#TableOfContents > ul > li > ul > li > a.highlight {
  display: inline;
}
nav#TableOfContents > ul > li > ul > li > a.highlight code {
  vertical-align: inherit;
}


/* Background */ .chroma { background-color: #ffffff }
/* Error */ .chroma .err {  }
/* LineTableTD */ .chroma .lntd { ; vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { ; border-spacing: 0; padding: 0; margin: 0; border: 0; width: 100%; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc; display: block; width: 100% }
/* LineNumbersTable */ .chroma .lnt { ; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; display: block; }
/* LineNumbers */ .chroma .ln { ; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: #0000ff }
/* KeywordConstant */ .chroma .kc { color: #0000ff }
/* KeywordDeclaration */ .chroma .kd { color: #0000ff }
/* KeywordNamespace */ .chroma .kn { color: #0000ff }
/* KeywordPseudo */ .chroma .kp { color: #0000ff }
/* KeywordReserved */ .chroma .kr { color: #0000ff }
/* KeywordType */ .chroma .kt { color: #2b91af }
/* NameClass */ .chroma .nc { color: #2b91af }
/* LiteralString */ .chroma .s { color: #a31515 }
/* LiteralStringAffix */ .chroma .sa { color: #a31515 }
/* LiteralStringBacktick */ .chroma .sb { color: #a31515 }
/* LiteralStringChar */ .chroma .sc { color: #a31515 }
/* LiteralStringDelimiter */ .chroma .dl { color: #a31515 }
/* LiteralStringDoc */ .chroma .sd { color: #a31515 }
/* LiteralStringDouble */ .chroma .s2 { color: #a31515 }
/* LiteralStringEscape */ .chroma .se { color: #a31515 }
/* LiteralStringHeredoc */ .chroma .sh { color: #a31515 }
/* LiteralStringInterpol */ .chroma .si { color: #a31515 }
/* LiteralStringOther */ .chroma .sx { color: #a31515 }
/* LiteralStringRegex */ .chroma .sr { color: #a31515 }
/* LiteralStringSingle */ .chroma .s1 { color: #a31515 }
/* LiteralStringSymbol */ .chroma .ss { color: #a31515 }
/* OperatorWord */ .chroma .ow { color: #0000ff }
/* Comment */ .chroma .c { color: #008000 }
/* CommentHashbang */ .chroma .ch { color: #008000 }
/* CommentMultiline */ .chroma .cm { color: #008000 }
/* CommentSingle */ .chroma .c1 { color: #008000 }
/* CommentSpecial */ .chroma .cs { color: #008000 }
/* CommentPreproc */ .chroma .cp { color: #0000ff }
/* CommentPreprocFile */ .chroma .cpf { color: #0000ff }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericHeading */ .chroma .gh { font-weight: bold }
/* GenericPrompt */ .chroma .gp { font-weight: bold }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { font-weight: bold }
