body {
  font-size: 105% !important;
  text-align: justify;
}
h2 {
  text-transform: none;
}
code, pre {
  background: none;
  border: none;
  text-align: left;
}
a code {
  color: inherit;
}
/* Fix Firefox */
#body a.highlight {
  vertical-align: middle;
}
a.api-reference {
  font-family: monospace;
}
div.footnotes {
  font-size: 85%;
}
#tags {
  float: none;
  display: flex;
  /*justify-content: space-around;*/
  justify-content: center;
  flex-wrap: wrap;
}
#tags a {
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-bottom: 0.25em;
}

pre .copy-to-clipboard {
  background-color: transparent;
}
pre .copy-to-clipboard:hover {
  background-color: #fff7dd;
}

.copy-to-clipboard {
  background-image: url(../images/clippy.svg);
  background-position: 50% 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  width: 27px;
  height: 1.45rem;
  top: -1px;
  margin-bottom: 1px;
}
.highlight pre {
  #border: 2px dashed;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000000;
}
div.highlight code + span.copy-to-clipboard {
  display: inline-block;
  border: none;
  vertical-align: unset;
}

code + span.copy-to-clipboard {
  display: none;
}

div.code-snippet {
  position: relative;
}
div.code-snippet a.code-snippet-url {
  font-size: small;
  position: absolute;
  right: 3em;
  top: 0.7em;
}

nav#TableOfContents {
  width: 30em;
  float: right;
  text-align: left;
  font-size: inherit !important;
}
nav#TableOfContents > ul {
  list-style: none;
}
nav#TableOfContents > ul > li > ul {
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000000;
  background-color: white;
  padding-right: 1em;
  list-style-type: lower-roman;
}
nav#TableOfContents > ul > li > ul > li {
  line-height: normal;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
nav#TableOfContents > ul > li > ul > li > a.highlight {
  display: inline;
}
nav#TableOfContents > ul > li > ul > li > a.highlight code {
  vertical-align: inherit;
}


/* Background */ .chroma { background-color: #ffffff }
/* Error */ .chroma .ss4 {  }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc; display: block; width: 100% }
/* LineNumbers */ .chroma .ln { ; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .s3e8 { color: #0000ff }
/* KeywordType */ .chroma .s3ee { color: #2b91af }
/* NameClass */ .chroma .s7d4 { color: #2b91af }
/* LiteralString */ .chroma .sc1c { color: #a31515 }
/* OperatorWord */ .chroma .sfa1 { color: #0000ff }
/* Comment */ .chroma .s1770 { color: #008000 }
/* CommentPreproc */ .chroma .s17d4 { color: #0000ff }
/* GenericEmph */ .chroma .s1b5a { font-style: italic }
/* GenericHeading */ .chroma .s1b5c { font-weight: bold }
/* GenericPrompt */ .chroma .s1b5f { font-weight: bold }
/* GenericStrong */ .chroma .s1b60 { font-weight: bold }
/* GenericSubheading */ .chroma .s1b61 { font-weight: bold }
