Source: boost-outcome
Maintainer: Niall Douglas <s_sourceforge@nedprod.com>
Section: libdevel
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9)
Homepage: https://ned14.github.io/boost.outcome
Vcs-Git: https://github.com/ned14/boost.outcome

Package: libboost-outcome-dev
Architecture: all
Depends: ${misc:Depends}
Description: Provides very lightweight monadic outcome<T>, result<T> and option<T>.
 A very lightweight monadic outcome<T>, result<T> and option<T>
 suitable for low latency and exceptions disable usage.
Homepage: https://ned14.github.io/boost.outcome
